.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.radius {
    border-radius: 8px;
}

.margin {
    margin: 7px;
}

.padding {
    padding: 10px;
}